header {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.generate {
    margin-top: 200px;
    text-align: center;
    border: 1px black solid;
    box-shadow: 4px black;
    width: 100px;
}

.generate:hover {

}